__pycache__/

# Sphinx documentation
manuscript/_build/
manuscript/_static/
manuscript/_templates/

# slidev presentation
node_modules
.DS_Store
dist
*.local
.vite-inspect
.remote-assets
components.d.ts
